@model IEnumerable<DomainSalesPortalDataLayer.Entities.Domain>
@{
    ViewData["Title"] = "Favourite";
}

<h1>Favourite</h1>

<div class="table-responsive-xl">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Domain</th>
                <th scope="col">NS1</th>
                <th scope="col">NS2</th>
                <th scope="col">LastChange</th>
                <th scope="col">ExpiredDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
            <tr>
                <th><input type="checkbox" data-id="@item.Id"></th>
                <td>@item.Name</td>
                <td>@item.NS1</td>
                <td>@item.NS2</td>
                <td>@item.LastChange</td>
                <td>@item.ExpiredDate</td>
            </tr>
            }

           
        </tbody>
    </table>

</div>