@model IEnumerable<DomainSalesPortalDataLayer.Entities.Domain>
@{
    ViewData["Title"] = "Favourite";
}




<h1>Favourite</h1>

<div class="table-responsive-xl">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width:50px;">#</th>
                <th scope="col">Domain</th>
                <th scope="col">NS1</th>
                <th scope="col">NS2</th>
                <th scope="col">LastChange</th>
                <th scope="col">ExpiredDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr id = "@item.Id">
                    <th><input type="checkbox" class="ckbox" value="@item.Id" data-id="@item.Id"></th>
                    <td>@item.Name</td>
                    <td>@item.NS1</td>
                    <td>@item.NS2</td>
                    <td>@item.LastChange</td>
                    <td>@item.ExpiredDate</td>
                </tr>
            }


        </tbody>
    </table>
    <div style="float:right">

        <button class="btn btn-outline-success" asp-action="Favourite" asp-controller="Home" >Refresh</button>
        <button class="btnFavourite btn btn-outline-danger">Remove Favourite</button>
    </div>


</div>

@section Scripts{

    <script>
        $(".btnFavourite").click(function () {

            var checkedVals = $('.ckbox:checkbox:checked').map(function () {
                return this.value;
            }).get();
        
            var CheckedList = checkedVals.join(",");
            $.post("RemoveFavourite",
                {
                    Domains:CheckedList
                },
                function (data, status) {





                    if (data != "Error") {


                        $(".alert").delay(1000).fadeIn(400);

                        $(".alert").delay(2000).fadeOut(400);


                        var valNew = data.split(',');

                      
                        for (var i = 0; i < valNew.length; i++) {


                            $("#" +valNew[i]+"").remove(); 
                        }
                       
                    }






                });
        });
    </script>






}